header,footer{
    background-color:#2874f0;
    color: white;
    text-align:center;
    padding:20px; 
}
nav{
    background-color: black;
    color:white;
    border-radius:0px;
}
li{
   list-style-type: none;
   font-size: 15px;
   display: inline-block;
}
li:hover{
   background-color: #2874f0;
   cursor:pointer;
}
a{
    color:white;
}
#dropdown{
    position:absolute;
    
}
.navbar-inverse .row{
	POSITION: absolute;
    width: 100%;
    background: #333;
    z-index: 10;
	padding-right:5%;
}