<div class="container">
    <div class="panel panel-default credit-card-box">
    <div class="panel-heading display-table" >
    <div class="row display-tr" >
    <h4 class="col-md-6"><b>Payment Details</b></h4>
    <div class="display-td col-md-6" > 
    <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
    </div>
    </div> 
    </div>
    <div class="panel-body">
    <form role="form" id="payment-form" >
    <div class="row">
    <div class="col-xs-12 col-md-7">
    <div class="form-group">
    <label  for="cardNumber">CARD NUMBER</label>
    <div class="input-group">
    <input #cardNumber  type="tel"
    class="form-control"
    name="cardNumber"
    placeholder="Valid Card Number"
    />
    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
    </div>
    </div> 
    </div>
    <div class="col-xs-12 col-md-7">
    <div class="form-group">
    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
    <input #cardExpiry 
    type="tel" 
    class="form-control" 
    name="cardExpiry"
    placeholder="MM / YY"
    autocomplete="cc-exp"
    required 
    />
    </div>
    </div>
    <div class="col-xs-12 col-md-7">
    <div class="form-group">
    <label for="cardCVC">CVV CODE</label>
    <input #cardCVC
    type="tel" 
    class="form-control"
    name="cardCVC"
    placeholder="CVV"
    autocomplete="cc-csc"
    required
    />
    </div>
    </div>
    </div>
    <button class="btn btn-success" (click)="saveOrder(cardNumber.value,cardExpiry.value,cardCVC.value)" [routerLink]="['/checkout']">Place Order</button>
    </form>
    </div>
    </div>